  html {
    padding: 0;
    margin: 0;
  }
/* index */
.head {

}


.head_desc {

}

.head_btn {
  
}






/* index2 */
  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(162, 252, 154);
    z-index: 99999;
    display: block;
  }

  .modalDialog>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(rgb(242, 255, 234), rgb(211, 252, 178));
    background: -webkit-linear-gradient(rgb(242, 255, 234), rgb(211, 252, 178));
    background: -o-linear-gradient(rgb(242, 255, 234), rgb(211, 252, 178));
  }

  
  .password {
    margin-left: 30px;
    font-size: 40px;
    color: rgb(181, 202, 20);
  }

  .password_btn {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    border: solid 1px #fff;
    color: rgb(41, 46, 1);
    
  }

  .password_btn:nth-child(3) {
    cursor: pointer;
  }

  .main {
  color: rgb(162, 252, 154);
  }
  
  .close {
    display: none;
  }